/*AUTHOR: JOSEPH HOSTEN*/
/*DATE: 06/04/2022*/

@import url("https://fonts.googleapis.com/css?family=Saira+Semi+Condensed");
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);

body {
    width: 100%;
    /*!*overflow: hidden;*! 07/04/2022 - JOSEPH HOSTEN*/
    background: hsla(0, 5%, 5%, 1);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to right top, hsla(0, 5%, 15%, 0.5), hsla(0, 5%, 5%, 1));
    background: #39393B;
    font-family: "Saira Semi Condensed", sans-serif;
}

svg {
    width: 100%;
}

.content {
    text-align: center;
    padding-top: 80px;
    font-size: 15px;
}

.mikasa {
    margin-top: 30px;
    width: 260px;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mikasa:hover {
    box-shadow: 0 0 10px 1px rgba(0, 140, 186, 0.5);
}


a {
    color: snow;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

h3 {
    color: white;
}


p {
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    margin-top: 30px;
}

.credits {
    /*margin-top: 2px;*/
    text-align: center;
    font-size: 30px;
}

.heart {
    color: red;
    font-size: 17px;
}

.credits-heart {
    /*margin-top: 50px;*/
    font-size: 20px;
}

.credits-github {
    color: black;
}

hr {
    width: 20%;
    margin: 30px auto;
    color: ghostwhite;
    opacity: 50%;
}

.gist {
    width: 20%;
    margin: 20px auto 0;
}